body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
  to right, 
  rgba(69, 52, 221, 0.637), 
  rgba(65, 10, 168, 0.219)
);
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-Container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;

}

.disclaimer-page {
  padding: 20px;
  line-height: 1.6;
}

.disclaimer-page h2, .disclaimer-page h3 {
  margin-top: 20px;
}
.staking-pools-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}